.container {
    margin: 0 auto;
    max-width: 30rem;
    width: 90%;
}

.playing-card {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    height: 8rem;
    justify-content: center;
    padding: 1rem;
    width: 5rem;
}

.table {
    align-items: center;
    background-color: green;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
}

.value-container {
    border: 1px solid;
    border-color: red;
    padding: 0.5 rem;
}